{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
{# templates/product/new.html.twig #}
<h1>Adding a new product</h1>

{{ form_start(form) }}

    {{ form_row(form.brochure) }}
    <button type="submit" value="Téléverser">Soumettre</button>
{{ form_end(form) }}
{% endblock %}
