{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
{# templates/product/new.html.twig #}
<h1>the product</h1>
<a href="{{ asset('uploads/brochures/' ~ product.brochure) }}">View brochure (PDF)</a>

{% endblock %}